.education-card {
  background-color: var(--white);
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

body.dark-mode .education-card {
  background-color: var(--white);
}

.education-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.education-card h3 {
  color: var(--secondary);
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

body.dark-mode .education-card h3 {
  color: #fff;
}

.education-card p {
  color: var(--text-light);
  margin: 5px 0;
}

body.dark-mode .education-card p {
  color: var(--text-dark);
}

body.dark-mode .education-card p.fw-bold {
  color: var(--secondary);
  font-weight: 700 !important;
}

body.dark-mode .education-card .school-name {
  color: var(--secondary);
}
