.heading {
    margin-bottom: 0px;
}

#heading {
    padding-left: 100px;
}

#home .row {
    margin-top: 20px;
}

.card {
    margin-top: 40px;
    align-content: center;
}

.typed_wrap {
	display: block;
	width: 400px;
	height: auto;
	padding: 30px;
}

.demo {
    letter-spacing: 0.5em;
    text-align: center;
    font-size: 2em;
}

.display-4 {
    color: #4d5666;
}

.footer {
    height:100px;
    background: #e9ecef;
}

.credit {
    padding-top: 20px;
}

#mainnav {
    background-image:url("img/heading.png")  !important;
    background-repeat: repeat;
}

.end {
    margin-bottom: 40px;
}

#skills {
    font-size:1.2em;
    letter-spacing: 0.4em;
    color: #a1adc4;
}

.connect {
    margin-top: 100px;
    letter-spacing: 0.3em;
    color: black;
    text-transform: uppercase;
}

.touch {
    letter-spacing: 0.3em;
    color: black;
    text-transform: uppercase;
    margin-top:40px;
}

.social {
    font-size: 2em;
    letter-spacing: 0.5em;
}

.social a, .demo a {
    color: #444;
    text-decoration: none;
}

#home {
    padding-top:  50px;
}

#experience{
    margin-top: 90px;
}

#projects, #education, #contact{
    padding-top: 60px;
}

.paper-bg {
    background-image:url("img/heading.png");
    background-repeat: repeat;
}

.thinfont {
    font-weight: 100 !important;
}

.explink {
    color: #444;
}
